@import "tailwindcss";

p {
    font-family: "Inter", sans-serif;
}

:root {
    background-color: var(--color-light-bg);
    letter-spacing: 0.01ch;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: "smooth";
    height: 100vh;
}

@theme {
    --color-light-bg: #fcfcfa;
    --color-dark-bg: #0b090a;
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

:root::view-transition-old(root) {
    animation:
        90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

:root::view-transition-new(root) {
    animation:
        210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.navbar {
    view-transition-name: navbar;
}
